.balanceContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--modal-bg-color);
  max-width: 480px;
  padding-left: 70px;
}

.balanceTitle {
  font-size: 12px;
  margin-top: 8px;
  color: var(--inputs-border-color);
  font-family: var(--font-primary);
  font-weight: 400;
  letter-spacing: 1px;
}

.balanceAmount {
  font-size: 30px;
  margin-bottom: 11px;
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
  font-weight: bold;
}

/* .positiveBalance {
} */

.negativeBalance {
  color: red;
}
