.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 17px;
  height: 17px;
}

.logoText {
  margin: 0;
  padding: 0;
  font-size: 12.84px;
  line-height: 19.26px;
  text-decoration-skip-ink: none;
}
