.userContainer {
  display: flex;
  flex-direction: row;
  background-color: linear-gradient(270.02deg, #2e1746 3.2%, #2e225f 99.98%);
}

.userName {
  color: var(--inputs-border-color);
}

.userName::after {
  content: '';
  border-left: 2px solid var(--inputs-border-color);
  height: 18px;
  margin-left: 12px;
  margin-right: 12px;
}

.logoutContainer {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: var(--inputs-border-color);
}

.icon {
  width: 18px;
  height: 18px;
  fill: var(--inputs-border-color);
  stroke: var(--inputs-border-color);
}
