.mobileNavLinksContainer {
  padding-top: 12px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.active {
  font-weight: 800;
  color: #ffffff;
}

.navigation {
  color: #fbfbfb;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 44px;
  height: 44px;
}

.container {
  border: none;
  display: none;
}
.tabletNavLinksContainer {
  display: none;
}

/* tab and pc nav */
/* .navLinksContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 8.5rem;
  padding: 40px 16px 0;
  width: 100%;
  display: none;
} */
/* .container {
  overflow: hidden;
  max-width: 30rem;
  height: calc(100vh - 80px);
  border-right: 2px solid var(--inputs-border-color);
} */

@media (min-width: 769px) {
  .tabletNavLinksContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 8.5rem;
    padding: 40px 16px 0;
    width: 100%;
  }
  .icon {
    width: 18px;
    height: 18px;
  }
  .tabletContainer {
    height: 200px;
    display: flex;
  }
}
