.mobileNavLinksContainer {
  padding-top: 12px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.active {
  font-weight: 800;
  color: #ffffff;
}

.navigation {
  color: #fbfbfb;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 44px;
  height: 44px;
}

.container {
  border: none;
  display: none;
}
.tabletNavLinksContainer {
  display: none;
}


@media (min-width: 769px) {
  .mobileNavLinksContainer{
    display: none;
  }
  .tabletContainer {
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    margin-bottom: 20px;
  }
  .tabletMainContainer {
    height: 13.438rem;
  }
  .tabletNavLinksContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 40px 16px 0;
    width: 100%;
  }
  .icon {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 1280px) {
  .tabletContainer {
    display: none;
  }
  .navLinksContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 8.5rem;
    padding: 40px 16px 0;
    width: 100%;
  }
  .container {
    display: block;
    overflow: hidden;
    max-width: 30rem;
    height: calc(100vh - 5rem);
    border-right: 2px solid var(--inputs-border-color);
  }
}
