@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --font-primary: "Poppins", sans-serif;
  --primary-white-color: #fbfbfb;
  --yellow-color: #ffb627;
  --color-expense: #ff868d;
  --inputs-border-color: rgba(255, 255, 255, 0.4);
  --modal-bg-color: rgba(255, 255, 255, 0.1);
  --dropdown-bg-color: linear-gradient(
    0deg,
    rgba(83, 61, 186, 0.5) 20%,
    rgba(80, 48, 154, 0.5) 43.14%,
    rgba(106, 70, 165, 0.4) 73.27%,
    rgba(133, 93, 175, 0.1) 120.03%
  );

  --buttons-bg: linear-gradient(
    96.76deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
}
